# Data Science

## In this notebook, descries some points on Data Science .

### some popular data science languages are:

1. SQL
2. Java
3. Python
4. R.
5. Julia

### Some data science libraries are
1. NumPy.
2. SciPy.
3. TensorFlow.
4. Pandas.
5. Scrapy.
6. BeautifulSoup.
7. LightGBM.
8. ELI5.
9. Theano.
10. Matplotlib.
11. Keras.
12. SciKit-Learn.
13. PyTorch.

### some data science tools are
1. Apache Spark	
2. SAS.	
3. BigMLsome data science tools are
1. Apache Spark	
2. SAS.	
3. BigML

In [5]:
### Arithmetic operations
code = compile("8 - 2", "<string>", "eval")
eval(code)

6

In [6]:
#muliply and add number
(9*5)+8

53

In [7]:
#This will convert 100 minutes to hours by diving by 60
days = 0
hours = 0
mins = 0
time = 100
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

0 days, 1.6666666666666667 hours, 0 mins.

In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

## Author: Turjo Das